/* spacing */
.aboutPage {
  margin-top: 50px;
}

.benefitPage {
  margin-top: 350px;
}

.servicePage {
  margin-top: 100px;
}

.contactPage {
  margin-top: 100px;
}

/* header */
.logo {
  width: 70px;
  height: 70px;
  display: block;
  margin-top: auto;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 40px;
  color: #ced4da;
}

.header h2 {
  color: #495057;
  display: inline-block;
  padding: 20px;
  margin: 0;
  position: relative;
  transition: color 0.4s ease-in-out; /*placing the transition property in the normal state ensures a smooth transition*/
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* ''''''hover header'''' */
.header:hover {
  cursor: pointer;
}

.header h2::after {
  content: "";
  position: absolute; /*to replace the position: relative of the div*/
  width: 0%;
  height: 4px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transition: all 0.4s ease-in-out;
}

.header h2:hover::after {
  width: 100%;
  left: 0;
  color: black;
}

.header h2:hover {
  color: black;
}

/* homePage */

h1 {
  font-size: xx-large;
}

.container {
  height: 700px;
}

#model-container {
  width: 60%;
  margin-left: 40%;
  margin-top: 6%;
}

#text-container {
  position: absolute;
  text-align: center;
  top: 25%;
  margin-right: 60%;
  margin-bottom: 50%;
  margin-left: 100px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

#text-container .animate {
  animation: slideInLeft 1s ease-in;
}

button {
  position: relative;
  margin-top: 50px;
  font-size: 18px;
  border: 2px solid;
  border-radius: 5px;
}

#button {
  transition: transform 0.3s ease;
}

#button:hover {
  transform: translateY(-10px);
  background-color: lightgreen;
}

/* About */
.background {
  height: 300px;
  background-color: rgb(9, 194, 9);
}

.aboutTitle {
  color: blue;
  font-size: xx-large;
}

.text-overwrite {
  background-color: whitesmoke;
  width: 95%;
  margin-top: 50px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 500px;
  position: absolute;
  border-radius: 10px;
  text-align: center;
}

.aboutParagraph {
  width: 50%;
  margin: 50px auto 0;
}

/* benefits */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 100px 50px;
  margin-top: 20px;
  background-color: rgba(255, 166, 0, 0.294);
}

.grid-item {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow: auto;
  margin: auto;
}

.icon {
  width: 100px;
  height: 100px;
}

.textWrap {
  display: flex;
  flex-direction: column;
}

.textHeader {
  font-size: large;
  font-weight: bolder;
  color: red;
  margin: 0;
}

/* service */

.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  height: 300px;
  width: 300px;
  perspective: 1000px;
  margin: auto;
  flex-wrap: nowrap;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: transform 0.9s ease;
}

img {
  object-fit: cover;
}

.card-front {
  position: absolute;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #105c0768;
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}
