.click-content {
  height: 80vh;
  margin-top: 10vh;
  display: flex;
}

.specificProgram-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specificProgram-img img {
  max-width: 100%;
}

.content-information {
  flex: 1;
  width: 20vw;
  margin-top: 5vh;
}

#specific-name {
  text-align: center;
  font-size: 2vw;
}

#other-information {
  margin: 8vh 0;
  font-size: 1.2vw;
}

#other-information p {
  padding-left: 13vw;
  margin: 2vh;
}

#join-btn-container {
  text-align: center;
}

#join-btn {
  font-family: inherit;
  transition: transform 0.3s ease;
  text-align: center;
  width: 20vh;
  height: 6vh;
  color: #606c38;
  background: white;
  border: 2px solid #606c38;
  border-radius: 20px;
  transition: 0.3s;
  align-items: center;
}

#join-btn:hover {
  width: 20vh;
  height: 6vh;
  color: white;
  background: #606c38;
  border: none;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 1px 1px 5px 2px gray;
  transform: translate(0, -3px);
}
