.click-content {
  height: 80vh;
  margin: 10vh 5vw 0 5vw;
  display: flex;
  gap: 10vw;
}

.click-content img {
  max-width: 100%;
}

.content-information {
  width: 40vw;
}

#specific-name {
  text-align: center;
  font-size: 2vw;
}

#other-information {
  margin: 10vh 0;
  font-size: 1.2vw;
}

#other-information p {
  margin: 2vh;
}

#join-btn {
  font-family: inherit;
  transition: transform 0.3s ease;
  text-align: center;
  width: 20vh;
  height: 6vh;
  color: #606c38;
  background: white;
  border: 2px solid #606c38;
  border-radius: 20px;
  transition: 0.3s;
  margin-left: 15vw; /*How to text-align to center?*/
}

#join-btn:hover {
  width: 20vh;
  height: 6vh;
  color: white;
  background: #606c38;
  border: none;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 1px 1px 5px 2px gray;
  transform: translate(0, -3px);
}
